body{
    background-color: #62c472;
    color: #470068;
    font-family: Tahoma, sans-serif;
    text-align: center;
}

h1{
    font-size: 60px;
}

h2{
    font-size: 36px;
}

h1, h2{
    color: #7500ac;
}

p, li{
    font-size: 20px;
}

img{
    height: auto;
    width: 700px;
}